* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dc95c9;
}

.quote-box {
  width: 500px;
  padding: 40px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
