@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #965d87;
}

.quote-box {
  width: 500px;
  padding: 40px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(132, 127, 127, 0.719);
  border-radius: 10px;
  text-align: center;
}

.quote-box h2 {
  font-size: 31px;
  margin-bottom: 40px;
  position: relative;
}

.quote-box blockquote::after {
  content: " ";
  width: 75px;
  height: 3px;
  border-radius: 5px;
  background: #dc95c9;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.quote-box blockquote {
  font-size: 26px;
  min-height: 110px;
  position: relative;
  line-height: 1.4;
  margin-bottom: 30px;
}

.quote-box blockquote::before {
  content: "“";
}

.quote-box blockquote::after {
  content: "”";
}

.quote-box span {
  display: block;
  margin-top: 10px;
  float: right;
  position: relative;
}

.quote-box span::before {
  content: " ";
  width: 20px;
  height: 2px;
  background: #150812;
  position: absolute;
  top: 50%;
  left: -30px;
}

.quote-box div {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.quote-box button {
  padding: 10px 20px;
  margin: 20px 10px 0 10px;
  border: none;
  background: #dc95c9;
  color: #d2b8b8;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}
